data/synthetic_fsi/Synthetic_Demo_Data_Shared_Part2.xlsx filter=lfs diff=lfs merge=lfs -text
data/synthetic_fsi/Synthetic_Demo_Data_Shared_Part1.xlsx filter=lfs diff=lfs merge=lfs -text
data/synthetic_fsi/synthetic_demo_data.parquet filter=lfs diff=lfs merge=lfs -text
